@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px 30px;
  text-align: center;
  position:relative ;
  margin-bottom:100px;
}

h1 {
  align-self: auto;
}

#calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}
#card {
  background-size: 120%;
  /* opacity: 0.7; */
  background-repeat: no-repeat;
  width: 900px;
  height: 600px;
  font-size: large;
  font-weight: 500;
  display: table;
  margin: 0 auto;
}

.date:hover {
  cursor: pointer;
  background-color:rgb(233, 247, 247);
}

.butn {
  /* opacity: 0.8; */
  background-color: white;
  border-radius: 4px;
  color: DarkSlateGrey;
  border: 2px solid rgb(131, 211, 184);
  width: 300px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.butn:hover {
  background-color: mintcream;
}

.filter-btn {
  background-color: WhiteSmoke;
  border-radius: 4px;
  color: DarkSlateGrey;
  border: 2px solid rgb(209, 209, 209);
  width: 90px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}
.filter-btn:hover {
  background-color: rgb(194, 194, 194);
}

.dropdown {
  background-color: white;
  border-radius: 4px;
  color: black;
  border: 2px solid rgb(241, 188, 168);
  width: 300px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown:hover {
  background-color:FloralWhite;
}

#calendar-header {
  background-color: rgb(252, 247, 244);
  color: black;
}

#calendar-body {
  color: black;
}

.logo {
  /* height: 200px; */
  width: 200px;
}

.logo-container {
  height: 100%;
  width: 70px;
}
.logo-container:hover {
  cursor: pointer;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.options {
  width: 53%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signup {
  color: blue;
}
.signup:hover {
  cursor: pointer;
}

.signin {
  color: blue;
}

.signin:hover {
  cursor: pointer;
}

#sunday {
  color: rgb(221, 107, 65);
}

#monthAndYear {
  color: rgb(36, 122, 117);
}
.group {
  position: relative;
  margin: 15px 0;
}


.form-container {
  display: flex; 
  margin: 0 auto;
  flex-direction: column;
  width: 380px;
  padding-top: 30px;
}


  
.form-input {
    background: none;
    background-color: white;
    color: teal;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin: 25px 0;
    padding-top: 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
  background-color: powderblue;
  color: white;
  text-align: center;
  flex: 0 0 50px;
  margin-top: auto;
}

#listening {
  font-size: 30px;
}
#new-note-submit {
  margin: 25px;
}

.abt-container {
  height: 20%;
  width: 35%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 1em;
}

.about-txt {
  font-size: 20px;
}

.app-name {
  font-family: 'Pacifico', cursive;
  color: teal;
}

.title {
  padding-bottom: 50px;
  font-family: 'Pacifico', cursive;
  color: rgb(105, 182, 182);
  text-decoration: underline;
}

.card-header {
  text-align: right;
  color: rgb(59, 105, 103);
  font-size: 350%;
}
