@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px 60px;
  text-align: center;
  position:relative ;
  margin-bottom:100px;
}

h1 {
  align-self: auto;
}

#calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  background-image: url('assets/SF_4.jpg');
  background-size: 100%;
  opacity: 0.8;
  background-repeat: no-repeat;
  width: 700px;
  height: 550px;
  font-size: large;
}

.date:hover {
  background-color:rgb(233, 247, 247);
}

.butn {
  /* opacity: 0.8; */
  background-color: white;
  border-radius: 4px;
  color: DarkSlateGrey;
  border: 2px solid rgb(131, 211, 184);
  width: 300px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.butn:hover {
  background-color: mintcream;
}

.dropdown {
  background-color: white;
  border-radius: 4px;
  color: black;
  border: 2px solid rgb(241, 188, 168);
  width: 300px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown:hover {
  background-color:FloralWhite;
}

#calendar-header {
  background-color: rgb(252, 247, 244);
  color: black;
}

#calendar-body {
  color: black;
}

.logo {
  /* height: 200px; */
  width: 200px;
  margin-bottom: -35px;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.options {
  width: 53%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* .form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.notes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 50%;
  border: 1px solid black;
  box-shadow: 5px 2px 2px grey;
}
html {
    display: table;
    margin: auto;
} */


.signup {
  color: blue;
}
.signup:hover {
  cursor: pointer;
}

.signin {
  color: blue;
}

.signin:hover {
  cursor: pointer;
}

#sunday {
  color: rgb(221, 107, 65);
}

#monthAndYear {
  color: rgb(36, 122, 117);
}

/* #signin-form {

} */

/* .form-input-label {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
} */